//Map -> (key,value);
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  stretch: stretch,
  center: center,
);
@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}
@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}
@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}
@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

// p {
//   @include flexbox(start);
// }

// mixin 과 function 의 차이점
//mixin은 include 사용해서 사용해야하고 코드 자체를 던져버림.
